.lofi-song{
    background-color: palevioletred;
    font-family: cursive;
}
.jubin-song{
    background-color: palevioletred;
    font-family: cursive;
}
.sana-song{
    background-color: palevioletred;
    font-family: cursive;
}
.arijit-song{
    background-color: palevioletred;
    font-family: cursive;
}
.WORKOUT-song{
    background-color: palevioletred;
    font-family: cursive;
}
.bhakti-song{
    background-color: palevioletred;
    font-family: cursive;
}

